/*
Concepta
Version: 1.0
Author: Aether-Themes
Author URI: http://www.AetherThemes.com
*/

/* =Table of Contents
--------------------------------------------------------------
  = Common Styles / Resets / Defaults
  = Header
  = Footer
  = Hero
  = Icon boxes
  = Feature boxes
  = Sliders
  = Tabs
  = Pricing Tables
  = FAQ
  = CTAs
  = Services Demo
  = Device Demo
  = Software Demo
  = Mobile App Demo
  = Web-app Demo
*/


/* = Common Styles / Resets / Defaults
-------------------------------------------------------------- */
.clearfix:after, .quote-slider .logotypes:after, .tabs__controls:after, .tabs__content:after, .tabs__content li .break:after {
  content: "";
  display: table;
  clear: both; }

.padded, .full-bg, .footer, .icon-box--hollow, .feature-box, .quote-slider, .tabs {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  @media (min-width: 768px) {
    .padded, .full-bg, .footer, .icon-box--hollow, .feature-box, .quote-slider, .tabs {
      padding-top: 4.0625rem;
      padding-bottom: 4.0625rem; } }
  @media (min-width: 992px) {
    .padded, .full-bg, .footer, .icon-box--hollow, .feature-box, .quote-slider, .tabs {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.padded-top, .icon-box--device, .software .hero__content {
  padding-top: 2.5rem; }
  @media (min-width: 768px) {
    .padded-top, .icon-box--device, .software .hero__content {
      padding-top: 4.0625rem; } }
  @media (min-width: 992px) {
    .padded-top, .icon-box--device, .software .hero__content {
      padding-top: 5rem; } }

.padded-bottom, .app .hero__content .sub-heading {
  padding-bottom: 2.5rem; }
  @media (min-width: 768px) {
    .padded-bottom, .app .hero__content .sub-heading {
      padding-bottom: 4.0625rem; } }
  @media (min-width: 992px) {
    .padded-bottom, .app .hero__content .sub-heading {
      padding-bottom: 5rem; } }

.footer__meta ul, .feature-box__content ul, .feature-slider__container, .feature-slider__container .slick-dots, .quote-slider .logotypes, .quote-slider__container, .tabs__controls, .tabs__content, .pricing-table__list, .device .full-bg .logotypes {
  margin: 0;
  padding: 0;
  list-style: none; }

.feature-slider__container .slick-arrow, .feature-slider__container .slick-dots li button, .quote-slider__container .slick-arrow {
  background: none;
  border: 0;
  outline: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .feature-slider__container .slick-arrow:-moz-focus-inner, .feature-slider__container .slick-dots li button:-moz-focus-inner, .quote-slider__container .slick-arrow:-moz-focus-inner {
    border: 0;
    padding: 0; }

.centered {
  text-align: center; }

.centered-mobile {
  text-align: center; }
  @media (min-width: 992px) {
    .centered-mobile {
      text-align: left; } }

.full {
  width: 100%;
  overflow: hidden; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #FFFFFF;
  font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  color: #686868;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; }
  body img {
    max-width: 100%;
    height: auto; }

a {
  color: #1A82FF;
  text-decoration: none;
  transition: all .3s ease-in-out; }
  a:hover {
    color: #0174ff;
    text-decoration: none; }
  a:link {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.7); }
  a:visited {
    text-decoration: none;
    color: #1A82FF; }
  a:focus {
    outline: none;
    color: #1A82FF; }

p, ol, ul {
  margin: 1.25rem 0;
  color: #686868; }
  .invert-color p, .invert-color ol, .invert-color ul {
    color: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  color: #414141;
  line-height: 1.25;
  font-style: normal;
  font-weight: 400;
  margin: 0.625rem 0; }
  .invert-color h1, .invert-color h2, .invert-color h3, .invert-color h4, .invert-color h5, .invert-color h6 {
    color: #FFFFFF; }

h1 {
  font-size: 1.625rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.375rem; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 1.375rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.75rem; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 1.875rem; } }

h3 {
  font-size: 1.125rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.375rem; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 1.625rem; } }

h4 {
  font-size: 1rem; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.125rem; } }
  @media (min-width: 992px) {
    h4 {
      font-size: 1.25rem; } }

h5 {
  font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h5 {
      font-size: 0.6875rem; } }
  @media (min-width: 992px) {
    h5 {
      font-size: 0.6875rem; } }

h6 {
  font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

p {
  margin: 0.625rem 0; }
  p.sub-heading {
    font-size: 1.125rem; }
  p.medium {
    font-size: 0.875rem; }

small {
  font-size: 0.75rem; }

.button {
  display: block;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background: #1A82FF;
  padding: 1.125rem 2.1875rem;
  border-radius: 0.25rem;
  text-align: center;
  transition: all .3s ease-in-out;
  -webkit-appearance: none; }
  @media (min-width: 768px) {
    .button {
      display: inline-block; } }
  .button:visited {
    color: #FFFFFF; }
  .button:hover {
    color: #FFFFFF;
    background: #006df0; }
  .button span, .button i {
    margin-right: 0.1875rem; }
  .button--matriarch {
    background: #111F3B; }
    .button--matriarch:hover {
      background: #0b1527; }
  .button--green {
    color: #111F3B;
    background: #9AFF00; }
    .button--green:hover {
      color: #111F3B;
      background: #B9FC6E; }
    .button--green:visited {
      color: #111F3B; }
  .button--red {
    background: #FF6666; }
    .button--red:hover {
      background: #ff4d4d; }
  .button--white {
    background: #FFFFFF;
    color: #414141; }
    .button--white:hover {
      color: #414141;
      background: rgba(255, 255, 255, 0.95); }
    .button--white:visited {
      color: #414141; }
  .button--hollow {
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
    color: #414141; }
    .button--hollow svg {
      width: 16px;
      margin-left: 0.3125rem;
      margin-bottom: -0.4375rem; }
    .button--hollow:hover, .button--hollow:visited {
      background: transparent;
      color: #414141; }
    .button--hollow.icon-before svg {
      margin-left: 0;
      margin-right: 0.3125rem; }
    .invert-color .button--hollow {
      color: #FFFFFF; }
      .invert-color .button--hollow:hover, .invert-color .button--hollow:visited {
        color: #FFFFFF; }

.input-field, .input-submit {
  display: block; }
  @media (min-width: 992px) {
    .input-field, .input-submit {
      display: inline-block; } }

.input-field {
  position: relative; }
  @media (min-width: 992px) {
    .input-field {
      min-width: 300px; } }
  .input-field label {
    font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
    color: #686868;
    cursor: text;
    position: absolute;
    top: 1.0625rem;
    left: 1.125rem;
    transition: all .3s ease-in-out; }
    .invert-color .input-field label {
      color: #FFFFFF; }
  .input-field input {
    font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
    color: #686868;
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #CDCDCD;
    padding: 1.0625rem;
    border-radius: 0.25rem;
    transition: all .3s ease-in-out;
    -webkit-appearance: none; }
    .input-field input:focus {
      outline: none;
      border-color: #9a9a9a; }
    .invert-color .input-field input {
      color: #FFFFFF;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.35); }
      .invert-color .input-field input:focus {
        border-color: rgba(255, 255, 255, 0.8); }
  .input-field.active label {
    top: 0.3125rem;
    font-size: 0.625rem;
    color: rgba(104, 104, 104, 0.75); }
    .invert-color .input-field.active label {
      color: rgba(255, 255, 255, 0.65); }

.input-submit input {
  font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
  width: 100%; }

.separator {
  display: block;
  height: 1px;
  width: 6.25rem;
  background: rgba(255, 255, 255, 0.5); }

.full-bg {
  width: 100%;
  background: #FAFAFA; }


/* = Header
-------------------------------------------------------------- */
.header {
  width: 100%;
  padding: 1.875rem 0 1.25rem;
  position: relative;
  transition: all .33s ease; }
  @media (min-width: 768px) {
    .header {
      padding: 3.75rem 0; } }
  .header--absolute {
    position: absolute;
    z-index: 99; }
  .header__logo a {
    display: inline-block; }
    .header__logo a svg {
      fill: #414141;
      width: 110px;
      height: 30px; }
      .invert-color .header__logo a svg {
        fill: #FFFFFF; }
    .header__logo a.alt svg {
      fill: #414141;
      width: 47px;
      height: 47px; }
      .invert-color .header__logo a.alt svg {
        fill: #FFFFFF; }


/* = Footer
-------------------------------------------------------------- */
.footer {
  position: relative;
  width: 100%;
  border-top: 1px solid rgba(205, 205, 205, 0.35); }
  .footer__logo {
    text-align: center;
    margin-bottom: 1.25rem; }
    @media (min-width: 992px) {
      .footer__logo {
        text-align: left;
        margin-bottom: 0; } }
    .footer__logo a {
      display: inline-block; }
      .footer__logo a svg {
        fill: #414141;
        width: 79px;
        height: 22px; }
        .invert-color .footer__logo a svg {
          fill: #FFFFFF; }
  .footer__meta {
    text-align: center; }
    @media (min-width: 992px) {
      .footer__meta {
        text-align: right; } }
    .footer__meta ul li {
      display: inline-block;
      margin-right: 0.625rem; }
      .footer__meta ul li:first-of-type {
        display: block;
        margin-bottom: 0.625rem; }
        @media (min-width: 992px) {
          .footer__meta ul li:first-of-type {
            display: inline-block;
            margin-bottom: 0; } }
      .footer__meta ul li:last-of-type {
        margin-right: 0; }
      .footer__meta ul li small {
        color: #CDCDCD; }
      .footer__meta ul li a {
        color: #414141;
        opacity: .55; }
        .footer__meta ul li a:hover {
          opacity: 1; }
  .footer #top {
    display: none; }
    @media (min-width: 992px) {
      .footer #top {
        position: absolute;
        z-index: 99;
        top: -120px;
        right: 0;
        display: block;
        width: 80px;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
        border-radius: 999em;
        text-align: center;
        line-height: 80px;
        vertical-align: middle;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        .footer #top:hover {
          top: -125px; }
        .footer #top svg {
          margin-bottom: -6px; } }


/* = Hero
-------------------------------------------------------------- */
.hero {
  width: 100%; }
  .hero--bg-center, .hero--bg-left {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2.5rem; }
    @media (min-width: 768px) {
      .hero--bg-center, .hero--bg-left {
        padding-top: 4.0625rem; } }
    @media (min-width: 992px) {
      .hero--bg-center, .hero--bg-left {
        padding-top: 5rem; } }
  .hero--bg-center {
    text-align: center; }
  .hero--center {
    text-align: center; }


/* = Icon Boxes
-------------------------------------------------------------- */
.icon-box {
  background: #FAFAFA;
  border-radius: 0.25rem; }
  .icon-box--large {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .icon-box--large {
        padding-top: 2.5rem;
        padding-bottom: 3.125rem; } }
    @media (min-width: 992px) {
      .icon-box--large {
        text-align: center;
        padding-bottom: 5.625rem; } }
    .icon-box--large__icon {
      margin-top: 1.5625rem;
      text-align: left; }
      @media (min-width: 768px) {
        .icon-box--large__icon {
          margin-top: 2.1875rem; } }
      @media (min-width: 992px) {
        .icon-box--large__icon {
          margin-top: 3.125rem; } }
      .icon-box--large__icon .icon {
        color: #FF6666; }
        @media (min-width: 992px) {
          .icon-box--large__icon .icon {
            float: left;
            width: 42px; } }
        .icon-box--large__icon .icon svg {
          width: 42px;
          height: 42px; }
      @media (min-width: 992px) {
        .icon-box--large__icon .text {
          float: left;
          width: calc(100% - 42px);
          padding: 0 1.25rem; }
          .icon-box--large__icon .text h4 {
            margin-top: 0; } }
  .icon-box--small {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .icon-box--small {
        padding-top: 2.5rem;
        padding-bottom: 3.125rem; } }
    @media (min-width: 992px) {
      .icon-box--small {
        padding-bottom: 5.625rem; } }
    .icon-box--small__icon {
      margin-top: 1.5625rem;
      text-align: left; }
      @media (min-width: 768px) {
        .icon-box--small__icon {
          margin-top: 2.1875rem; } }
      @media (min-width: 992px) {
        .icon-box--small__icon {
          margin-top: 3.125rem; } }
      .icon-box--small__icon .icon {
        color: #FF6666; }
        .icon-box--small__icon .icon svg {
          width: 32px;
          height: 32px; }
    .icon-box--small.alternative {
      padding-top: 2.5rem;
      padding-bottom: 0; }
      @media (min-width: 768px) {
        .icon-box--small.alternative {
          padding-top: 3.125rem; } }
      @media (min-width: 992px) {
        .icon-box--small.alternative {
          padding-top: 3.75rem; } }
      @media (min-width: 1200px) {
        .icon-box--small.alternative {
          padding-top: 6.25rem; } }
    .alternative .icon-box--small__icon .icon {
      color: #1A82FF; }
    .alternative .icon-box--small__image {
      text-align: center;
      margin-top: 1.5625rem; }
      @media (min-width: 992px) {
        .alternative .icon-box--small__image {
          margin-top: -8.75rem; } }
      @media (min-width: 1200px) {
        .alternative .icon-box--small__image {
          margin-top: -11.25rem; } }
  .icon-box--hollow {
    background: transparent;
    margin-bottom: 1.25rem; }
    @media (min-width: 768px) {
      .icon-box--hollow {
        margin-bottom: 0; } }
    @media (min-width: 992px) {
      .icon-box--hollow {
        margin-bottom: 2.5rem; } }
    .icon-box--hollow__icon {
      margin-top: 1.5625rem;
      text-align: left; }
      .icon-box--hollow__icon .icon {
        color: #1A82FF; }
        .icon-box--hollow__icon .icon svg {
          width: 42px;
          height: 42px; }
  .icon-box--device {
    background: transparent;
    position: relative;
    text-align: center; }
    @media (min-width: 768px) {
      .icon-box--device {
        text-align: left;
        min-height: 65.625rem; } }
    @media (min-width: 992px) {
      .icon-box--device {
        min-height: 56.25rem; } }
    @media (min-width: 768px) {
      .icon-box--device .heading {
        margin-bottom: 3.125rem; } }
    @media (min-width: 992px) {
      .icon-box--device .heading {
        margin-bottom: 10.625rem; } }
    .icon-box--device__icon {
      margin-top: 1.5625rem; }
      @media (min-width: 768px) {
        .icon-box--device__icon {
          margin-top: 2.1875rem; } }
      @media (min-width: 992px) {
        .icon-box--device__icon {
          margin-top: 3.125rem; } }
      @media (min-width: 992px) {
        .icon-box--device__icon.right {
          text-align: right; } }
      @media (min-width: 992px) {
        .icon-box--device__icon.right .icon, .icon-box--device__icon.right .text {
          padding-left: 0;
          padding-right: 2.1875rem; } }
      .icon-box--device__icon .icon {
        color: #FF6666; }
        @media (min-width: 992px) {
          .icon-box--device__icon .icon {
            padding-left: 2.1875rem; } }
        .icon-box--device__icon .icon svg {
          width: 42px;
          height: 42px; }
      @media (min-width: 992px) {
        .icon-box--device__icon .text {
          padding-left: 2.1875rem; } }
    .icon-box--device__image {
      margin: 1.5625rem 0.9375rem;
      display: block;
      text-align: center;
      transition: all .3s ease-in-out; }
      @media (min-width: 768px) {
        .icon-box--device__image {
          margin: 0;
          position: absolute;
          top: 12.1875rem;
          left: -5rem; } }
      @media (min-width: 992px) {
        .icon-box--device__image {
          top: 15.625rem;
          max-width: 350px;
          left: 50%;
          margin-left: -175px; } }
      @media (min-width: 1200px) {
        .icon-box--device__image {
          max-width: none;
          margin-left: -195px; } }

/* = Feature boxes
-------------------------------------------------------------- */
@media (min-width: 992px) {
  .feature-box {
    min-height: 43.75rem; } }
.feature-box__content .medium {
  margin-top: 1.875rem; }
.feature-box__content ul {
  margin-top: 3.125rem; }
  @media (min-width: 992px) {
    .feature-box__content ul {
      margin-top: 5rem; } }
  .feature-box__content ul li {
    display: inline-block;
    margin-right: 2.8125rem; }
    .feature-box__content ul li:last-of-type {
      margin-right: 0; }
@media (min-width: 992px) {
  .feature-box__content {
    margin-top: 5.625rem; } }
.feature-box__image {
  margin: 3.125rem 0.9375rem 0;
  display: block;
  text-align: center;
  transition: all .3s ease-in-out; }
  @media (min-width: 768px) {
    .feature-box__image {
      margin-top: 3.125rem; } }
  @media (min-width: 992px) {
    .feature-box__image {
      margin: 0;
      position: absolute;
      top: 6.25rem;
      left: -17.5rem; } }
  @media (min-width: 1200px) {
    .feature-box__image {
      left: -11.25rem; } }


/* = Sliders
-------------------------------------------------------------- */
.feature-slider {
  text-align: center; }
  @media (min-width: 768px) {
    .feature-slider {
      text-align: left; } }
  .feature-slider__image img {
    margin-top: -1.25rem; }
    @media (min-width: 992px) {
      .feature-slider__image img {
        margin-top: -2.5rem; } }
  .feature-slider__container {
    margin-top: 1.25rem; }
    @media (min-width: 992px) {
      .feature-slider__container {
        margin-top: 5rem; } }
    .feature-slider__container .slick-arrow {
      display: none !important; }
      @media (min-width: 992px) {
        .feature-slider__container .slick-arrow {
          display: block !important;
          text-indent: -999em;
          position: absolute;
          top: 25%;
          right: -3.75rem;
          display: block;
          opacity: .35;
          width: 12px;
          height: 22px;
          background: url("../images/icons/chevron-right.svg") no-repeat;
          background-position: center;
          background-size: 12px 22px;
          transition: all .3s ease-in-out; }
          .feature-slider__container .slick-arrow:hover {
            opacity: 1; }
          .feature-slider__container .slick-arrow.slick-prev {
            display: none !important; } }
    .feature-slider__container .slick-dots {
      margin-top: 1.25rem; }
      .feature-slider__container .slick-dots li {
        display: inline-block;
        margin-right: 0.625rem; }
        .feature-slider__container .slick-dots li:last-of-type {
          margin-right: 0; }
        .feature-slider__container .slick-dots li button {
          text-indent: -999em;
          width: 8px;
          height: 8px;
          border-radius: 999em;
          background: rgba(104, 104, 104, 0.35);
          border: 3px solid white;
          transition: all .3s ease-in-out; }
          .feature-slider__container .slick-dots li button:focus {
            outline: none; }
        .feature-slider__container .slick-dots li.slick-active button {
          background: transparent;
          border: 3px solid #FF6666; }

.quote-slider {
  overflow: hidden;
  background: #FAFAFA;
  border-radius: 0.25rem; }
  .quote-slider .logotypes {
    display: none; }
    @media (min-width: 992px) {
      .quote-slider .logotypes {
        display: block;
        width: 100%;
        padding: 3.75rem 2.1875rem; }
        .quote-slider .logotypes li {
          display: block;
          float: left;
          width: 25%;
          text-align: center; } }
  .quote-slider__container {
    margin-top: 2.5rem; }
    @media (min-width: 992px) {
      .quote-slider__container {
        margin-top: 0; } }
    .quote-slider__container .slick-arrow {
      text-indent: -999em;
      position: absolute;
      top: auto;
      bottom: 25%;
      right: 3.75rem;
      display: block;
      opacity: .35;
      width: 12px;
      height: 22px;
      background: url("../images/icons/chevron-right.svg") no-repeat;
      background-position: center;
      background-size: 9px 16px;
      transition: all .3s ease-in-out; }
      @media (min-width: 992px) {
        .quote-slider__container .slick-arrow {
          top: 10%;
          right: -3.75rem; } }
      .quote-slider__container .slick-arrow:hover {
        opacity: 1; }
      .quote-slider__container .slick-arrow.slick-prev {
        right: auto;
        left: 3.75rem;
        transform: scaleX(-1); }
        @media (min-width: 992px) {
          .quote-slider__container .slick-arrow.slick-prev {
            left: -3.75rem; } }
    .quote-slider__container .quote {
      margin-bottom: 1.875rem; }
    .quote-slider__container .meta {
      display: inline-block; }
      .quote-slider__container .meta p {
        color: #414141; }
        .quote-slider__container .meta p small {
          color: #686868; }


/* = Tabs
-------------------------------------------------------------- */
.tabs {
  overflow: hidden;
  background: #FAFAFA;
  border-radius: 0.25rem; }
  .tabs__controls {
    display: inline-block;
    margin-bottom: 1.5625rem; }
    .tabs__controls li {
      float: left;
      width: 100%; }
      @media (min-width: 768px) {
        .tabs__controls li {
          width: auto; } }
      .tabs__controls li a {
        font-size: 0.875rem;
        width: 100%;
        display: block;
        background: transparent;
        color: #686868;
        padding: 0.625rem 1.25rem;
        border: 1px solid rgba(205, 205, 205, 0.5);
        transition: all .3s ease-in-out; }
        @media (min-width: 768px) {
          .tabs__controls li a {
            width: auto;
            padding: 1.25rem 1.875rem; } }
        .tabs__controls li a:hover {
          color: white;
          background: #1A82FF;
          border: 1px solid #1A82FF; }
        .tabs__controls li a.active {
          background: #1A82FF;
          color: white;
          border: 1px solid #1A82FF; }
        .tabs__controls li a.first {
          border-radius: 0.25rem 0.25rem 0 0;
          border-bottom: none; }
          @media (min-width: 768px) {
            .tabs__controls li a.first {
              border-radius: 0.25rem 0 0 0.25rem;
              border-bottom: 1px solid rgba(205, 205, 205, 0.5);
              border-right: none; } }
        .tabs__controls li a.last {
          border-top: none;
          border-radius: 0 0.25rem 0 0.25rem; }
          @media (min-width: 768px) {
            .tabs__controls li a.last {
              border-left: none;
              border-radius: 0 0.25rem 0.25rem 0;
              border-top: 1px solid rgba(205, 205, 205, 0.5); } }
  @media (min-width: 768px) {
    .tabs__content li .break {
      margin-top: 1.5625rem; } }
  .tabs__content li .content-box {
    margin-top: 1.25rem; }
    @media (min-width: 768px) {
      .tabs__content li .content-box {
        margin-top: 0;
        padding: 0 0.9375rem;
        width: 50%;
        float: left; } }
    @media (min-width: 768px) {
      .tabs__content li .content-box {
        padding: 0 1.875rem; } }

/* = Pricing Tables
-------------------------------------------------------------- */
.pricing-table {
  margin-top: 0.625rem;
  padding: 1.25rem;
  text-align: center; }
  @media (min-width: 992px) {
    .pricing-table {
      margin-top: 2.5rem; } }
  .pricing-table__price {
    margin-top: 0.625rem; }
    @media (min-width: 992px) {
      .pricing-table__price {
        margin-top: 1.25rem; } }
    .pricing-table__price h1 {
      margin-bottom: 0; }
    .pricing-table__price p {
      margin-top: 0; }
  .pricing-table__description {
    margin: 1.25rem 0 1.25rem; }
    @media (min-width: 992px) {
      .pricing-table__description {
        margin-bottom: 2.5rem; } }
  .pricing-table hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px dotted #CDCDCD;
    background: transparent; }
  .pricing-table__list {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    text-align: left;
    font-size: 0.875rem; }
    @media (min-width: 992px) {
      .pricing-table__list {
        margin-top: 2.5rem;
        margin-bottom: 3.75rem; } }
    .pricing-table__list li {
      min-height: 24px;
      margin-bottom: 1.25rem; }
      .pricing-table__list li span {
        display: inline-block;
        color: #9AFF00;
        margin-right: 1.25rem; }
        .pricing-table__list li span svg {
          margin-bottom: -5px; }
      .pricing-table__list li.disabled {
        padding-left: 2.75rem;
        opacity: .5; }
  .pricing-table .button {
    display: block; }
  .pricing-table--highlight {
    border-radius: 0.25rem;
    background: #1A82FF; }
    .pricing-table--highlight h1, .pricing-table--highlight h4, .pricing-table--highlight p, .pricing-table--highlight li {
      color: white; }
    .pricing-table--highlight hr {
      border-color: rgba(255, 255, 255, 0.35); }

/* = FAQ
-------------------------------------------------------------- */
.faq__question {
  margin-top: 1.25rem; }
  @media (min-width: 992px) {
    .faq__question {
      margin-top: 2.1875rem; } }

/* = CTAs
-------------------------------------------------------------- */
.cta__button {
  margin-top: 0.9375rem; }
  @media (min-width: 768px) {
    .cta__button {
      margin-top: 1.25rem; } }
  @media (min-width: 992px) {
    .cta__button {
      margin-top: 2.5rem; } }
  .cta__button .store-link {
    display: inline-block;
    margin-top: 0.9375rem; }
    @media (min-width: 768px) {
      .cta__button .store-link {
        margin-top: 0; } }
.cta .medium {
  margin: 1.5625rem 0 1.25rem;
  display: block; }
  .cta .medium:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
    height: 1px;
    background: rgba(205, 205, 205, 0.35); }
  @media (min-width: 768px) {
    .cta .medium {
      margin-top: 1.875rem; }
      .cta .medium:before, .cta .medium:after {
        position: absolute;
        bottom: 1.875rem;
        left: 0;
        display: block;
        content: "";
        width: 10%;
        height: 1px;
        background: rgba(205, 205, 205, 0.35); }
      .cta .medium:after {
        left: auto;
        right: 0; } }
  @media (min-width: 992px) {
    .cta .medium {
      margin-top: 3.125rem; }
      .cta .medium:before, .cta .medium:after {
        width: 20%; } }
.cta .input-field, .cta .input-submit {
  margin-top: 0.9375rem; }
  @media (min-width: 992px) {
    .cta .input-field, .cta .input-submit {
      margin-top: 0; } }
@media (min-width: 992px) {
  .cta .input-field {
    margin-right: 0.9375rem; } }


/* = Services Demo
-------------------------------------------------------------- */
.services .hero__content {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem; }
  @media (min-width: 768px) {
    .services .hero__content {
      padding-top: 4.6875rem;
      padding-bottom: 3.125rem; } }
  @media (min-width: 992px) {
    .services .hero__content {
      padding-top: 6.25rem;
      padding-bottom: 5rem; } }
  .services .hero__content .sub-heading {
    max-width: 95%;
    margin: 0.625rem auto 3.125rem;
    opacity: .8; }
    @media (min-width: 768px) {
      .services .hero__content .sub-heading {
        max-width: 80%; } }
    @media (min-width: 992px) {
      .services .hero__content .sub-heading {
        max-width: 60%; } }
  .services .hero__content .medium {
    margin: 3.125rem 0 1.25rem;
    display: block; }
    .services .hero__content .medium:after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      left: 50%;
      margin-left: -25px;
      bottom: 0;
      height: 1px;
      background: rgba(255, 255, 255, 0.35); }
    @media (min-width: 768px) {
      .services .hero__content .medium {
        margin-top: 3.75rem; }
        .services .hero__content .medium:before, .services .hero__content .medium:after {
          position: absolute;
          bottom: 1.875rem;
          left: 0;
          display: block;
          content: "";
          width: 10%;
          height: 1px;
          background: rgba(255, 255, 255, 0.35); }
        .services .hero__content .medium:after {
          left: auto;
          right: 0; } }
    @media (min-width: 992px) {
      .services .hero__content .medium {
        margin-top: 6.25rem; }
        .services .hero__content .medium:before, .services .hero__content .medium:after {
          width: 20%; } }
  .services .hero__content .input-field, .services .hero__content .input-submit {
    margin-top: 0.9375rem; }
    @media (min-width: 992px) {
      .services .hero__content .input-field, .services .hero__content .input-submit {
        margin-top: 0; } }
  @media (min-width: 992px) {
    .services .hero__content .input-field {
      margin-right: 0.9375rem; } }
.services .icon-box {
  margin-top: 0.9375rem; }
  @media (min-width: 768px) {
    .services .icon-box {
      margin-top: 1.875rem; } }
  @media (min-width: 992px) {
    .services .icon-box {
      margin-top: 2.5rem; } }

/* = Device Demo
-------------------------------------------------------------- */
.device .hero__content {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
  text-align: center; }
  @media (min-width: 768px) {
    .device .hero__content {
      padding-top: 4.6875rem;
      padding-bottom: 3.125rem; } }
  @media (min-width: 992px) {
    .device .hero__content {
      padding-top: 5.625rem;
      padding-bottom: 5rem;
      text-align: left; } }
  .device .hero__content .sub-heading {
    max-width: 95%;
    margin: 0.625rem 0 3.125rem; }
    @media (min-width: 992px) {
      .device .hero__content .sub-heading {
        max-width: 60%; } }
  .device .hero__content .separator {
    margin: 1.5625rem auto; }
    @media (min-width: 768px) {
      .device .hero__content .separator {
        margin: 2.1875rem auto; } }
    @media (min-width: 992px) {
      .device .hero__content .separator {
        margin: 3.125rem 0; } }
  @media (min-width: 768px) {
    .device .hero__content .button--hollow {
      margin-left: 1.875rem; } }
  .device .hero__content .input-field {
    margin-bottom: 0.625rem; }
    @media (min-width: 992px) {
      .device .hero__content .input-field {
        margin-bottom: 0;
        margin-right: 0.625rem; } }
.device .full-bg .logotypes {
  width: 100%; }
  .device .full-bg .logotypes li {
    display: block;
    float: left;
    width: 100%;
    margin: 0.9375rem 0; }
    @media (min-width: 768px) {
      .device .full-bg .logotypes li {
        width: 25%;
        margin: 0; } }
@media (min-width: 768px) {
  .device .icon-box--device {
    min-height: 62.5rem; } }
@media (min-width: 992px) {
  .device .icon-box--device {
    min-height: 48.75rem; } }
@media (min-width: 1200px) {
  .device .icon-box--device {
    min-height: 51.25rem; } }
@media (min-width: 992px) {
  .device .icon-box--device .heading {
    margin-bottom: 4.375rem; } }
@media (min-width: 1200px) {
  .device .icon-box--device .heading {
    margin-bottom: 6.25rem; } }
.device .icon-box--device__icon .icon {
  color: #1A82FF; }
@media (min-width: 768px) {
  .device .icon-box--device__image {
    margin: 0;
    position: absolute;
    top: 21.875rem;
    left: -5rem; } }
@media (min-width: 992px) {
  .device .icon-box--device__image {
    top: 15.625rem;
    max-width: 350px;
    left: 50%;
    margin-left: -175px; } }
@media (min-width: 1200px) {
  .device .icon-box--device__image {
    max-width: none;
    margin-left: -195px; } }

/* = Software Demo
-------------------------------------------------------------- */
.software .hero__content .sub-heading {
  margin-bottom: 1.5625rem; }
  @media (min-width: 768px) {
    .software .hero__content .sub-heading {
      margin-bottom: 2.1875rem; } }
  @media (min-width: 992px) {
    .software .hero__content .sub-heading {
      margin-bottom: 3.125rem; } }
@media (min-width: 768px) {
  .software .hero__content .button--hollow {
    margin-left: 1.875rem; } }


/* = Mobile App Demo
-------------------------------------------------------------- */
.app .hero {
  background-color: #1A82FF;
  background-position: right 100px; }
  @media (min-width: 992px) {
    .app .hero {
      background-position: right bottom; } }
  .app .hero__content {
    padding-top: 1.5625rem;
    text-align: center; }
    @media (min-width: 992px) {
      .app .hero__content {
        text-align: left;
        padding-top: 3.75rem; } }
    .app .hero__content .logo a {
      display: inline-block; }
      @media (min-width: 992px) {
        .app .hero__content .logo a {
          margin-top: 1.5625rem; } }
      @media (min-width: 1200px) {
        .app .hero__content .logo a {
          margin-top: 3.125rem; } }
      .app .hero__content .logo a svg {
        fill: #FFFFFF;
        width: 47px;
        height: 47px; }
    @media (min-width: 992px) {
      .app .hero__content h1 {
        margin-top: 2.5rem; } }
    @media (min-width: 1200px) {
      .app .hero__content h1 {
        margin-top: 5rem; } }
    @media (min-width: 992px) {
      .app .hero__content .sub-heading {
        max-width: 90%; } }
    .app .hero__content .store-link {
      display: inline-block;
      max-width: 200px; }
      @media (min-width: 992px) {
        .app .hero__content .store-link {
          max-width: none; } }
      .app .hero__content .store-link--apple {
        margin-bottom: 0.625rem; }
        @media (min-width: 992px) {
          .app .hero__content .store-link--apple {
            margin-bottom: 0; } }
      .app .hero__content .store-link--google {
        margin-bottom: 3.125rem; }
        @media (min-width: 992px) {
          .app .hero__content .store-link--google {
            margin-bottom: 0; } }
  .app .hero__image img {
    margin-left: -2.375rem; }
    @media (min-width: 768px) {
      .app .hero__image img {
        margin-left: -3.625rem; } }
    @media (min-width: 992px) {
      .app .hero__image img {
        margin-left: 0; } }

/* = Web-app Demo
-------------------------------------------------------------- */
.web-app .hero__content .sub-heading {
  max-width: 95%;
  margin: 0.625rem auto 3.125rem; }
  @media (min-width: 768px) {
    .web-app .hero__content .sub-heading {
      max-width: 80%; } }
  @media (min-width: 992px) {
    .web-app .hero__content .sub-heading {
      max-width: 60%; } }
@media (min-width: 768px) {
  .web-app .hero__content .button--hollow {
    margin-left: 1.875rem; } }
.web-app .icon-box {
  margin-top: 1.25rem; }
.web-app .highlight {
  margin: 1.5625rem; }
  @media (min-width: 768px) {
    .web-app .highlight {
      margin: 1.875rem; } }
  .web-app .highlight h3 {
    color: #1A82FF;
    margin-bottom: 0; }
  .web-app .highlight p {
    margin-top: 0; }
.web-app .cta__button {
  margin-top: 0.9375rem; }
  @media (min-width: 768px) {
    .web-app .cta__button {
      margin-top: 1.25rem; } }
  @media (min-width: 992px) {
    .web-app .cta__button {
      margin-top: 2.5rem; } }
.web-app .cta .medium {
  margin: 1.5625rem 0 1.25rem;
  display: block; }
  .web-app .cta .medium:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
    height: 1px;
    background: rgba(205, 205, 205, 0.35); }
  @media (min-width: 768px) {
    .web-app .cta .medium {
      margin-top: 1.875rem; }
      .web-app .cta .medium:before, .web-app .cta .medium:after {
        position: absolute;
        bottom: 1.875rem;
        left: 0;
        display: block;
        content: "";
        width: 10%;
        height: 1px;
        background: rgba(205, 205, 205, 0.35); }
      .web-app .cta .medium:after {
        left: auto;
        right: 0; } }
  @media (min-width: 992px) {
    .web-app .cta .medium {
      margin-top: 3.125rem; }
      .web-app .cta .medium:before, .web-app .cta .medium:after {
        width: 20%; } }
.web-app .cta .input-field, .web-app .cta .input-submit {
  margin-top: 0.9375rem; }
  @media (min-width: 992px) {
    .web-app .cta .input-field, .web-app .cta .input-submit {
      margin-top: 0; } }
@media (min-width: 992px) {
  .web-app .cta .input-field {
    margin-right: 0.9375rem; } }

/*# sourceMappingURL=main.css.map */
