.software {
  .hero {
    &__content {
      @extend %padded-top;

      .sub-heading {
        margin-bottom: rem(25);

        @include breakpoint(medium) {
          margin-bottom: rem(35);
        }

        @include breakpoint(large) {
          margin-bottom: rem(50);
        }
      }

      .button--hollow {
        @include breakpoint(medium) {
          margin-left: rem(30);
        }
      }
    }
  }
}
