.web-app {
  .hero {
    &__content {
      .sub-heading {
        max-width: 95%;
        margin: rem(10) auto rem(50);

        @include breakpoint(medium) {
          max-width: 80%;
        }

        @include breakpoint(large) {
          max-width: 60%;
        }
      }

      .button--hollow {
        @include breakpoint(medium) {
          margin-left: rem(30);
        }
      }
    }
  }

  .icon-box {
    margin-top: rem(20);
  }

  .highlight {
    margin: rem(25);

    @include breakpoint(medium) {
      margin: rem(30);
    }

    h3 {
      color: $color-blue;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }

  .cta {
    &__button {
      margin-top: rem(15);

      @include breakpoint(medium) {
        margin-top: rem(20);
      }

      @include breakpoint(large) {
        margin-top: rem(40);
      }
    }

    .medium {
      margin: rem(25) 0 rem(20);
      display: block;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        left: 50%;
        margin-left: -25px;
        bottom: 0;
        height: 1px;
        background: rgba($color-gray--light, .35);
      }

      @include breakpoint(medium) {
        margin-top: rem(30);
        &:before, &:after {
          position: absolute;
          bottom: rem(30);
          left: 0;
          display: block;
          content: "";
          width: 10%;
          height: 1px;
          background: rgba($color-gray--light, .35);
        }

        &:after {
          left: auto;
          right: 0;
        }
      }

      @include breakpoint(large) {
        margin-top: rem(50);
        &:before, &:after {
          width: 20%;
        }
      }
    }

    .input-field, .input-submit {
      margin-top: rem(15);

      @include breakpoint(large) {
        margin-top: 0;
      }
    }

    .input-field {
      @include breakpoint(large) {
        margin-right: rem(15);
      }
    }
  }
}
