// Setup
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  background: $color-background;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color-text;
  font-size: $font-size--copy;
  font-style: $font-style;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: $font-smoothing;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;

  img {
    max-width: 100%;
    height: auto;
  }
}

// Type
a {
  color: $color-blue;
  text-decoration: none;

  transition: all .3s ease-in-out;

  &:hover {
    color: darken($color-blue, 5);
    text-decoration: none;
  }

  &:link {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255,255,255,.7);
  }

  &:visited {
    text-decoration: none;
    color: $color-blue;
  }

  &:focus {
    outline: none;
    color: $color-blue;
  }
}

p, ol, ul {
  margin: rem(20) 0;
  color: $color-text;

  .invert-color & {
    color: $color-white;
  }
}

%h1-6 {
  font-family: $font-family--secondary;
  color: $color-black;
  line-height: $line-height--secondary;
  font-style: $font-style;
  font-weight: $font-weight;
  margin: rem(10) 0;

  .invert-color & {
    color: $color-white;
  }
}

%h1 {
  @extend %h1-6;
  font-size: $h1-font-size;

  @include breakpoint(medium) {
    font-size: $h1-font-size--tablet;
  }

  @include breakpoint(large) {
    font-size: $h1-font-size--desktop;
  }
}
h1 {
  @extend %h1;
}

%h2 {
  @extend %h1-6;
  font-size: $h2-font-size;

  @include breakpoint(medium) {
    font-size: $h2-font-size--tablet;
  }

  @include breakpoint(large) {
    font-size: $h2-font-size--desktop;
  }
}
h2 {
  @extend %h2;
}

%h3 {
  @extend %h1-6;
  font-size: $h3-font-size;

  @include breakpoint(medium) {
    font-size: $h3-font-size--tablet;
  }

  @include breakpoint(large) {
    font-size: $h3-font-size--desktop;
  }
}
h3 {
  @extend %h3;
}

%h4 {
  @extend %h1-6;
  font-size: $h4-font-size;

  @include breakpoint(medium) {
    font-size: $h4-font-size--tablet;
  }

  @include breakpoint(large) {
    font-size: $h4-font-size--desktop;
  }
}
h4 {
  @extend %h4;
}

%h5 {
  @extend %h1-6;
  font-family: $font-family;
  font-size: $h5-font-size;
  font-weight: $font-weight--bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include breakpoint(medium) {
    font-size: $h5-font-size--tablet;
  }

  @include breakpoint(large) {
    font-size: $h5-font-size--desktop;
  }
}
h5 {
  @extend %h5;
}

%h6 {
  @extend %h1-6;
  font-family: $font-family;
  font-size: $h6-font-size;
  font-weight: $font-weight--bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
h6 {
  @extend %h6;
}

p {
  margin: rem(10) 0;

  &.sub-heading {
    font-size: $font-size--large;
  }

  &.medium {
    font-size: $font-size--medium;
  }
}

small {
  font-size: $font-size--small;
}
