//Colors
$color-black: #414141;
$color-gray: #686868;
$color-gray--light: #CDCDCD;

$color-white: #FFFFFF;
$color-white--off: #FAFAFA;

$color-red: #FF6666;
$color-green: #9AFF00;
$color-green--light: #B9FC6E;
$color-blue: #1A82FF;
$color-blue--matriarch: #111F3B;

// Color Defaults
$color-background:  $color-white;
$color-text:        $color-gray;


// Fonts
$font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
$font-family--secondary: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
$font-size: 100% !default;
$font-size--copy: rem(16) !default;
$font-size--large: rem(18) !default;
$font-size--medium: rem(14) !default;
$font-size--small: rem(12) !default;
$font-smoothing: antialiased !default;
$font-style: normal !default;
$font-weight: 400 !default;
$font-weight--light: 300 !default;
$font-weight--bold: 700 !default;
$line-height: 1.45 !default;
$line-height--secondary: 1.25 !default;
$border-radius: rem(4) !default;

$h1-font-size:          rem(26) !default;
$h1-font-size--tablet:  rem(38);
$h1-font-size--desktop: rem(48);

$h2-font-size:          rem(22) !default;
$h2-font-size--tablet:  rem(28);
$h2-font-size--desktop: rem(30);

$h3-font-size:          rem(18) !default;
$h3-font-size--tablet:  rem(22);
$h3-font-size--desktop: rem(26);

$h4-font-size:          rem(16) !default;
$h4-font-size--tablet:  rem(18);
$h4-font-size--desktop: rem(20);

$h5-font-size:          rem(11) !default;
$h5-font-size--tablet:  rem(11);
$h5-font-size--desktop: rem(11);

$h6-font-size:          rem(10) !default;
