.feature-box {
  @extend %padded;

  @include breakpoint(large) {
    min-height: rem(700);
  }

  &__content {
    .medium {
      margin-top: rem(30);
    }

    ul {
      @extend %reset-list;
      margin-top: rem(50);

      @include breakpoint(large) {
        margin-top: rem(80);
      }

      li {
        display: inline-block;
        margin-right: rem(45);

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    @include breakpoint(large) {
      margin-top: rem(90);
    }
  }

  &__image {
    margin: rem(50) rem(15) 0;
    display: block;
    text-align: center;

    transition: all .3s ease-in-out;


    @include breakpoint(medium) {
      margin-top: rem(50);
    }

    @include breakpoint(large) {
      margin: 0;
      position: absolute;
      top: rem(100);
      left: - rem(280);
    }

    @include breakpoint(xlarge) {
      left: - rem(180);
    }
  }
}
