.input-field, .input-submit {
	display: block;

	@include breakpoint(large) {
		display: inline-block;
	}
}

.input-field {
	position: relative;

  @include breakpoint(large) {
	 min-width: 300px;
  }

	label {
		font-family: $font-family;
		color: $color-gray;
    cursor: text;
		position: absolute;
		top: rem(17);
		left: rem(18);

		transition: all .3s ease-in-out;

    .invert-color & {
      color: $color-white;
    }
	}

	input {
		font-family: $font-family;
		color: $color-gray;
		width: 100%;
		display: block;
		background: transparent;
		border: 1px solid $color-gray--light;
		padding: rem(17);
		border-radius: $border-radius;
		transition: all .3s ease-in-out;
    -webkit-appearance: none;

		&:focus {
			outline: none;
			border-color: darken($color-gray--light, 20);
		}

    .invert-color & {
      color: $color-white;
      background: rgba($color-white, .10);
      border: 1px solid rgba($color-white, .35);

      &:focus {
        border-color: rgba($color-white, .8);
      }
    }
	}

	&.active {
		label {
			top: rem(5);
			font-size: rem(10);
			color: rgba($color-gray, .75);

      .invert-color & {
        color: rgba($color-white, .65);
      }
		}
	}
}

.input-submit {
	input {
		font-family: $font-family;
		width: 100%;
	}
}
