.hero {
  width: 100%;

  &--bg-center, &--bg-left {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: rem(40);

    @include breakpoint(medium) {
      padding-top: rem(65);
    }

    @include breakpoint(large) {
      padding-top: rem(80);
    }
  }

  &--bg-center {
    text-align: center;
  }

  &--center {
    text-align: center;
  }
}
