.icon-box {
  background: $color-white--off;
  border-radius: $border-radius;

  &--large {
    padding-top: rem(20);
    padding-bottom: rem(40);

    @include breakpoint(medium) {
      padding-top: rem(40);
      padding-bottom: rem(50);
    }

    @include breakpoint(large) {
      text-align: center;
      padding-bottom: rem(90);
    }

    &__icon {
      margin-top: rem(25);
      text-align: left;

      @include breakpoint(medium) {
        margin-top: rem(35);
      }

      @include breakpoint(large) {
        margin-top: rem(50);
      }

      .icon {
        color: $color-red;

        @include breakpoint(large) {
          float: left;
          width: 42px;
        }

        svg {
          width: 42px;
          height: 42px;
        }
      }

      .text {
        @include breakpoint(large) {
          float: left;
          width: calc(100% - 42px);
          padding: 0 rem(20);

          h4 {
            margin-top: 0;
          }
        }
      }
    }
  }

  &--small {
    padding-top: rem(20);
    padding-bottom: rem(40);

    @include breakpoint(medium) {
      padding-top: rem(40);
      padding-bottom: rem(50);
    }

    @include breakpoint(large) {
      padding-bottom: rem(90);
    }

    &__icon {
      margin-top: rem(25);
      text-align: left;

      @include breakpoint(medium) {
        margin-top: rem(35);
      }

      @include breakpoint(large) {
        margin-top: rem(50);
      }

      .icon {
        color: $color-red;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }

    &.alternative {
      padding-top: rem(40);
      padding-bottom: 0;

      @include breakpoint(medium) {
        padding-top: rem(50);
      }

      @include breakpoint(large) {
        padding-top: rem(60);
      }

      @include breakpoint(xlarge) {
        padding-top: rem(100);
      }
    }

    .alternative & {
      &__icon {
        .icon {
          color: $color-blue;
        }
      }

      &__image {
        text-align: center;
        margin-top: rem(25);

        @include breakpoint(large) {
          margin-top: - rem(140);
        }

        @include breakpoint(xlarge) {
          margin-top: - rem(180);
        }
      }
    }
  }

  &--hollow {
    @extend %padded;
    background: transparent;
    margin-bottom: rem(20);

    @include breakpoint(medium) {
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      margin-bottom: rem(40);
    }

    &__icon {
      margin-top: rem(25);
      text-align: left;

      .icon {
        color: $color-blue;

        svg {
          width: 42px;
          height: 42px;
        }
      }
    }
  }

  &--device {
    @extend %padded-top;
    background: transparent;
    position: relative;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
      min-height: rem(1050);
    }

    @include breakpoint(large) {
      min-height: rem(900);
    }

    .heading {
      @include breakpoint(medium) {
        margin-bottom: rem(50);
      }

      @include breakpoint(large) {
        margin-bottom: rem(170);
      }
    }

    &__icon {
      margin-top: rem(25);

      @include breakpoint(medium) {
        margin-top: rem(35);
      }

      @include breakpoint(large) {
        margin-top: rem(50);
      }

      &.right {
        @include breakpoint(large) {
          text-align: right;
        }

        .icon, .text {
          @include breakpoint(large) {
            padding-left: 0;
            padding-right: rem(35);
          }
        }
      }

      .icon {
        color: $color-red;

        @include breakpoint(large) {
          padding-left: rem(35);
        }

        svg {
          width: 42px;
          height: 42px;
        }
      }

      .text {
        @include breakpoint(large) {
          padding-left: rem(35);
        }
      }
    }

    &__image {
      margin: rem(25) rem(15);
      display: block;
      text-align: center;

      transition: all .3s ease-in-out;


      @include breakpoint(medium) {
        margin: 0;
        position: absolute;
        top: rem(195);
        left: - rem(80);
      }

      @include breakpoint(large) {
        top: rem(250);
        max-width: 350px;
        left: 50%;
        margin-left: -175px;
      }

      @include breakpoint(xlarge) {
        max-width: none;
        margin-left: -195px;
      }
    }
  }
}
