.header {
	width: 100%;
	padding: rem(30) 0 rem(20);
	position: relative;

	transition: all .33s ease;

	@include breakpoint(medium) {
		padding: rem(60) 0;
	}

	&--absolute {
		position: absolute;
		z-index: 99;
	}

	&__logo {
		a {
			display: inline-block;

			svg {
				fill: $color-black;
				width: 110px;
				height: 30px;

				.invert-color & {
					fill: $color-white;
				}
			}

      &.alt {
        svg {
          fill: $color-black;
          width: 47px;
          height: 47px;

          .invert-color & {
            fill: $color-white;
          }
        }
      }
		}
	}
}
