.pricing-table {
  margin-top: rem(10);
  padding: rem(20);
  text-align: center;

  @include breakpoint(large) {
    margin-top: rem(40);
  }

  &__price {
    margin-top: rem(10);

    @include breakpoint(large) {
      margin-top: rem(20);
    }

    h1 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }

  &__description {
    margin: rem(20) 0 rem(20);

    @include breakpoint(large) {
      margin-bottom: rem(40);
    }
  }

  hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px dotted $color-gray--light;
    background: transparent;
  }

  &__list {
    @extend %reset-list;
    margin-top: rem(20);
    margin-bottom: rem(40);
    text-align: left;
    font-size: $font-size--medium;

    @include breakpoint(large) {
      margin-top: rem(40);
      margin-bottom: rem(60);
    }

    li {
      min-height: 24px;
      margin-bottom: rem(20);

      span {
        display: inline-block;
        color: $color-green;
        margin-right: rem(20);

        svg {
          margin-bottom: -5px;
        }
      }

      &.disabled {
        padding-left: rem(44);
        opacity: .5;
      }
    }
  }

  .button {
    display: block;
  }

  &--highlight {
    border-radius: $border-radius;
    background: $color-blue;

    h1, h4, p, li {
      color: white;
    }

    hr {
      border-color: rgba(white, .35);
    }
  }
}
