.feature-slider {
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  &__image {
    img {
      margin-top: - rem(20);

      @include breakpoint(large) {
        margin-top: - rem(40);
      }
    }
  }

  &__container {
    @extend %reset-list;
    margin-top: rem(20);

    @include breakpoint(large) {
      margin-top: rem(80);
    }

    .slick-arrow {
      @extend %reset-button;
      display: none!important;

      @include breakpoint(large) {
        display: block!important;
        text-indent: -999em;
        position: absolute;
        top: 25%;
        right: - rem(60);
        display: block;
        opacity: .35;
        width: 12px;
        height: 22px;
        background: url('../images/icons/chevron-right.svg') no-repeat;
        background-position: center;
        background-size: 12px 22px;
        transition: all .3s ease-in-out;

        &:hover {
          opacity: 1;
        }

        &.slick-prev {
          display: none!important;
        }
      }
    }

    .slick-dots {
      @extend %reset-list;
      margin-top: rem(20);

      li {
        display: inline-block;
        margin-right: rem(10);

        &:last-of-type {
          margin-right: 0;
        }

        button {
          @extend %reset-button;
          text-indent: -999em;
          width: 8px;
          height: 8px;
          border-radius: 999em;
          background: rgba($color-gray, .35);
          border: 3px solid white;

          transition: all .3s ease-in-out;

          &:focus {
            outline: none;
          }
        }

        &.slick-active {
          button {
            background: transparent;
            border: 3px solid $color-red;
          }
        }
      }
    }
  }
}

.quote-slider {
  @extend %padded;
  overflow: hidden;
  background: $color-white--off;
  border-radius: $border-radius;

  .logotypes {
    @extend %reset-list;
    @extend %clearfix;
    display: none;

    @include breakpoint(large) {
      display: block;
      width: 100%;
      padding: rem(60) rem(35);

      li {
        display: block;
        float: left;
        width: 25%;
        text-align: center;
      }
    }
  }

  &__container {
    @extend %reset-list;
    margin-top: rem(40);

    @include breakpoint(medium) {
      // margin-top: rem(60);
    }

    @include breakpoint(large) {
      margin-top: 0;
    }

    .slick-arrow {
      @extend %reset-button;
      text-indent: -999em;
      position: absolute;
      top: auto;
      bottom: 25%;
      right: rem(60);
      display: block;
      opacity: .35;
      width: 12px;
      height: 22px;
      background: url('../images/icons/chevron-right.svg') no-repeat;
      background-position: center;
      background-size: 9px 16px;
      transition: all .3s ease-in-out;

      @include breakpoint(large) {
        top: 10%;
        right: - rem(60);
      }

      &:hover {
        opacity: 1;
      }

      &.slick-prev {
        right: auto;
        left: rem(60);
        transform: scaleX(-1);

        @include breakpoint(large) {
          left: - rem(60);
        }
      }
    }

    .quote {
      margin-bottom: rem(30);
    }

    .meta {
      display: inline-block;

      p {
        color: $color-black;
        small {
          color: $color-gray;
        }
      }
    }
  }
}

.tabs {
  @extend %padded;
  overflow: hidden;
  background: $color-white--off;
  border-radius: $border-radius;

  &__controls {
    @extend %reset-list;
    @extend %clearfix;
    display: inline-block;
    margin-bottom: rem(25);

    li {
      float: left;
      width: 100%;

      @include breakpoint(medium) {
        width: auto;
      }

      a {
        font-size: $font-size--medium;
        width: 100%;
        display: block;
        background: transparent;
        color: $color-gray;
        padding: rem(10) rem(20);
        border: 1px solid rgba($color-gray--light, .5);
        transition: all .3s ease-in-out;

        @include breakpoint(medium) {
          width: auto;
          padding: rem(20) rem(30);
        }

        &:hover {
          color: white;
          background: $color-blue;
          border: 1px solid $color-blue;
        }

        &.active {
          background: $color-blue;
          color: white;
          border: 1px solid $color-blue;
        }

        &.first {
          border-radius: $border-radius $border-radius 0 0;
          border-bottom: none;

          @include breakpoint(medium) {
            border-radius: $border-radius 0 0 $border-radius;
            border-bottom: 1px solid rgba($color-gray--light, .5);
            border-right: none;
          }
        }

        &.middle {
        }

        &.last {
          border-top: none;
          border-radius: 0 $border-radius 0 $border-radius;

          @include breakpoint(medium) {
            border-left: none;
            border-radius: 0 $border-radius $border-radius 0;
            border-top: 1px solid rgba($color-gray--light, .5);
          }
        }
      }
    }
  }

  &__content {
    @extend %reset-list;
    @extend %clearfix;

    li {
      .break {
        @extend %clearfix;

        @include breakpoint(medium) {
          margin-top: rem(25);
        }
      }

      .content-box {
        margin-top: rem(20);

        @include breakpoint(medium) {
          margin-top: 0;
          padding: 0 rem(15);
          width: 50%;
          float: left;
        }

        @include breakpoint(medium) {
          padding: 0 rem(30);
        }
      }
    }
  }
}
